{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block body %}

{% load staticfiles %}


<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>

    google.load('visualization', '1', {packages:['gauge','annotationchart','corechart']});
    google.setOnLoadCallback(drawGuageChart);
    function drawGuageChart() {
        
    <!-- Team Temp Guage -->
        var avg = 0;
        if( {{stats.count}} > 0){
            avg = parseFloat( {{ stats.average.score__avg }}.toFixed(2) );
        }

        var guage_data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['', 0 ],
        ]);

        var guage_options = {
            width: 800, height: 440,
            redFrom: 0, redTo: 2.5,
            yellowFrom:2.5, yellowTo: 5,
            greenFrom:7.5, greenTo:10,
            max:10,
            minorTicks: 2,
            majorTicks: ['0','2.5','5','7.5','10']
        };

        var guageChart = new google.visualization.Gauge(document.getElementById('guage_chart'));
        guageChart.draw(guage_data, guage_options);

        setTimeout(function(){
            var guage_data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['',avg],
            ]);
            guageChart.draw(guage_data, guage_options);
            }, 200);

    <!-- Historical Charts -->
        <!-- Historical Chart Data -->
        {% if json_historical_data != None %}
            var historical_data = new google.visualization.DataTable({{ json_historical_data|safe }}, 0.5);
            
            <!-- Historical Combo Chart (Bar and Average Line) -->
            var combo_table = new google.visualization.ComboChart(document.getElementById('table_div_jscode'));
            combo_table.draw(historical_data,{{ historical_options|safe }});

            {% if team_count < 6 %}
                <!-- Historical Annotated Chart -->
                var annotation_table = new google.visualization.AnnotationChart(document.getElementById('table_div_json'));
                annotation_table.draw(historical_data,{{ historical_options|safe }});
            {% endif %}
        {% endif %}
    }
</script>

{% if team_name != '' %}
    <div class="no-print"> 
        <div class="info box"> 
            <a href="{% url 'teamtemp.views.admin' survey_id=id team_name=team_name %}">ADMIN</a> 
        </div>
        <BR><BR>
        <div class="info box">
            <a href="{% url 'teamtemp.views.bvc' survey_id=id %}">ALL TEAMS</a><BR>
        </div>
        <BR><BR><BR>
    </div>

{% else %}
    <div class="no-print"> 
        <div class="info box"> 
            <a href="{% url 'teamtemp.views.admin' survey_id=id %}">ADMIN</a> 
        </div>
        <BR><BR>
        {% for team in survey_teams %}
            <div class="info box">
                <a href="{% url 'teamtemp.views.bvc' survey_id=id team_name=team.team_name %}"> {{ team.pretty_team_name }}</a><BR>
            </div>
        {% endfor %}
        <BR><BR><BR>
    </div>
{% endif %}
{% if archived_dates.count > 0 %}
    <select class='no-print' id="ArchivedBVCSelector">
        <option value="">Select an archived BVC from the list:</option>
            {% if team_name == '' %}
                <option value="{% url 'teamtemp.views.bvc' survey_id=id %}">Current Results</option>
            {% else %}
                <option value="{% url 'teamtemp.views.bvc' survey_id=id team_name=team_name %}">Current Results</option>
            {% endif %}
        {% for date in archived_dates %}
            {% if team_name == '' %}
                <option value="{% url 'teamtemp.views.bvc' survey_id=id archive_id=date.id %}">{{ date.archive_date }}</option>
            {% else %}
                <option value="{% url 'teamtemp.views.bvc' survey_id=id team_name=team_name archive_id=date.id %}">{{ date.archive_date }}</option>
            {% endif %}
        {% endfor %}
    </select>
    
    <script>
        document.getElementById("ArchivedBVCSelector").onchange = function() {
            if (this.selectedIndex!==0) {
                window.location.href = this.value;
            }        
        };
    </script>
{% endif %}

<h1 align="center">{{ pretty_team_name }} {{ survey_type_title }}</h1>

{% if results.0.archived %}
    <h2 align="center">{{ results.0.archive_date.date }}</h2>
{% else %}
    <h2 align="center">{% now () %}</h2>

    <div class="no-print">
        {% if num_iterations != '0' %}
            {% if team_name == '' %}
                <h6 align="center"><a href="{% url 'teamtemp.views.bvc' survey_id=id %}">Current Results + {{ num_iterations }} Previous Iterations</a></h6>
            {% else %}
                <h6 align="center"><a href="{% url 'teamtemp.views.bvc' survey_id=id team_name=team_name %}">Current Results + {{ num_iterations }} Previous Iterations</a></h6>
            {% endif %}
        {% else %}
            {% if team_name == '' %}
                <h6 align="center"><a href="{% url 'teamtemp.views.bvc' survey_id=id num_iterations='2' %}">Current Results</a></h6>
            {% else %}
                <h6 align="center"><a href="{% url 'teamtemp.views.bvc' survey_id=id team_name=team_name num_iterations='2' %}">Current Results</a></h6>
            {% endif %}
        {% endif %}
    </div>
{% endif %}

<!-- Display Team Temp Guage -->
<div class="centreguage" id='guage_chart'>
</div>

<h3 align="center">{{ stats.count }} Responses:</h3>

<div class="centrewordcloud">

{% if word_cloudurl != "" %}
    <img src=/{{ word_cloudurl }} alt="word cloud">
{% endif %}

</div>

<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

<!-- WORD CLOUD USING JS -->


<!-- History Trend Graphs -->
<h1 align="center">{{ pretty_team_name }}</h1><P>
<h1 align="center">Historical {{ survey_type_title }}</h1>
<h2 align="center">{% now () %}</h2>
<p>
<div class="centreguage" id="table_div_jscode" style='width: 8in; height: 4in;'></div>
<BR><BR><BR><BR><BR><BR><BR>
<div class="centreguage" id="table_div_json" style='width: 8in; height: 4in;'></div>

{% endblock %}
