{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a href="{% url "home" %}">TeamTemp</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>{{ user.username }}</li>
        {% else %}
        <li><a href="{% url "register" %}">Register</a></li>
        {% endif %}
        <li><a href="{% url "about" %}">About</a></li>
      </ul>
    </nav>
  </nav>
{% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="{% static "js/bootstrap.min.js" %}">
</body>
</html>
