{% extends "base.html" %}

{% block title %}Team Temperature{% endblock %}

{% block body %}
<h1>Select all categories you would like to include in your BVC (Big Visual Chart)</h1>
<form method="post">
    {% csrf_token %}

    {{ form.filter_dept_names.errors }}
    <div class="field">
      <label for="filter_dept_names">Departments:</label><br/>
      {{ form.filter_dept_names }}
    </div>

    {{ form.filter_site_names.errors }}
    <div class="field">
      <label for="filter_site_names">Sites</label><br/>
      {{ form.filter_site_names }}
    </div>

    {{ form.filter_region_names.errors }}
    <div class="field">
      <label for="filter_region_names">Regions</label><br/>
      {{ form.filter_region_names }}
    </div>

  <input type="submit" value="Filter"/>
</form>
{% endblock %}
