{% extends "base.html" %}

{% block title %}Team Temperature{% endblock %}

{% block body %}
{% if thanks %}
<div class="info">{{ thanks }}</div>
{% endif %}
<h1>Submit your temperature</h1>
<form method="post">
  {% csrf_token %}
  {% if response_id %}
  <input type="hidden" name="id" value="{{ response_id }}"/>
  {% endif %}
  <div class="field">{{ form.score.errors }}
    <label for="id_score">Temperature (1-10):</label><br/>
    {{ form.score }}
  </div>
  <div class="field">{{ form.word.errors }}
    <label for="id_word">One word to describe how you're feeling:</label><br/>
    {{ form.word }}
  </div>
  <input type="submit" value="Submit"/>
</form>
{% endblock %}
