{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}{{ pretty_team_name }} {{ survey_type_title }}{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <br>
        <!--[if !IE]> -->
        <a href="{% url 'bvc' survey_id=id team_name=team_name %}" class="btn btn-primary">BVC</a>
        <!-- <![endif]-->

        <h1>{{ pretty_team_name }} {{ survey_type_title }}</h1>
        <h2>Submit your {{ survey_type_title }}</h2>
        <form method="post">
          {% csrf_token %}

          {% if response_id %}
            <input type="hidden" name="id" value="{{ response_id }}"/>
          {% endif %}

          {% bootstrap_form_errors form type='non_fields' %}

          {{ temp_question_title }}
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.score layout='vertical' size='sm' show_label=False %}
            </div>
          </div>

          {{ word_question_title }}
          <div class="row">
            <div class="col-md-6">
              {% bootstrap_field form.word layout='vertical' size='sm' show_label=False %}
            </div>
          </div>

          {% buttons %}
            {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
