{% extends "base.html" %}

{% block title %}{{ team_name }} - Team Temperature{% endblock %}

{% block body %}
{% if thanks %}
<div class="info box">{{ thanks }}</div>
{% endif %}
<h1>{{ team_name }} - Team Temperature</h1>
<h2>Submit your temperature</h2>
<form method="post">
  {% csrf_token %}
  {% if response_id %}
  <input type="hidden" name="id" value="{{ response_id }}"/>
  {% endif %}
  {{ form.score.errors }}
  <div class="field">
    <label for="id_score">Temperature (1-10) (1 is very negative, 6 is OK, 10 is very positive):</label><br/>
    {{ form.score }}
  </div>
  {{ form.word.errors }}
  <div class="field">
    <label for="id_word">One word to describe how you're feeling:</label><br/>
    {{ form.word }}
  </div>
  <input type="submit" value="Submit"/>
</form>
{% endblock %}
