{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Team Temperature{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1>Create a Team Temperature Survey</h1>

            <label>Select Survey Type</label>
            <BR>
            <select class="btn btn-default" id="SurveyTypeSelector">
                <option value="{% url 'home' %}">TEAMTEMP</option>
                    <script>
                        document.getElementById("SurveyTypeSelector").selectedIndex = document.getElementById("SurveyTypeSelector").length - 1;
                    </script>
                <option value="/drs">DEPT-REGION-SITE</option>
                {% if survey_type == 'DEPT-REGION-SITE' %}
                    <script>
                        document.getElementById("SurveyTypeSelector").selectedIndex = document.getElementById("SurveyTypeSelector").length - 1;
                    </script>
                {% endif %}
                <option value="/cs">CUSTOMERFEEDBACK</option>
                {% if survey_type == 'CUSTOMERFEEDBACK' %}
                    <script>
                        document.getElementById("SurveyTypeSelector").selectedIndex = document.getElementById("SurveyTypeSelector").length - 1;
                    </script>
                {% endif %}
            </select>
            <script>
                document.getElementById("SurveyTypeSelector").onchange = function() {
                    window.location.href = this.value;
                };
            </script><br><br>

            <form method="post">

              {% bootstrap_form_errors form type='non_fields' %}
              {% csrf_token %}
              {{ form.password.errors }}
              <label for="id_password">Survey Password (so that you can see the admin pages if you change browser)</label><br/>
              <div class="row"><div class="col-md-6">
              {% bootstrap_field form.password layout='inline' size='sm' %}
              </div></div>

              {% if survey_type != 'DEPT-REGION-SITE' %}
                <div style="display: none;">
              {% endif %}

              {{ form.dept_names.errors }}
              <label for="dept_names">Department Names</label><br/>
              <div class="row"><div class="col-md-6">
              {% bootstrap_field form.dept_names layout='inline' size='sm' %}
              </div></div>

              {{ form.region_names.errors }}
              <label for="region_names">Region Names</label><br/>
              <div class="row"><div class="col-md-6">
              {% bootstrap_field form.region_names layout='inline' size='sm' %}
              </div></div>

              {{ form.site_names.errors }}
              <label for="site_names">Site Names</label><br/>
              <div class="row"><div class="col-md-6">
              {% bootstrap_field form.site_names layout='inline' size='sm' %}
              </div></div>

              {% if survey_type != 'DEPT-REGION-SITE' %}
                </div>
              {% endif %}<br>
              <div class="row"><div class="col-md-6">
              {% buttons class="btn btn-primary" submit='Create' %}{% endbuttons %}
              </div></div>
            </form>


        </div>
    </div>
</div>
{% endblock %}
