{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Create Team Temperature{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h1>Create a Team Temperature Survey</h1>

        <div class="field">
          <label for="id_survey_type">Select Survey Type</label><br>
          <select id="id_survey_type" name="survey_type" required="">
            <option value="TEAMTEMP" {% if not survey_type or survey_type == "TEAMTEMP" %}selected{% endif %}>Team Temperature</option>
            <option value="DEPT-REGION-SITE" {% if survey_type == "DEPT-REGION-SITE" %}selected{% endif %}>Department-Region-Site Temperature</option>
            <option value="CUSTOMERFEEDBACK" {% if survey_type == "CUSTOMERFEEDBACK" %}selected{% endif %}>Customer Feedback</option>
          </select>
          <script>
            document.getElementById("id_survey_type").onchange = function () {
              if (this.value == 'DEPT-REGION-SITE') {
                window.location.href = "/drs"
              }
              else if (this.value == 'CUSTOMERFEEDBACK') {
                window.location.href = "/cs"
              }
              else {
                window.location.href = "{% url 'home' %}";
              }
            };
          </script>
        </div>
        <br><br>

        <form method="post">

          {% bootstrap_form_errors form type='non_fields' %}
          {% csrf_token %}

          <div class="field">
            {% bootstrap_field form.new_password layout='vertical' size='sm' %}
          </div>

          <div class="field">
            {% bootstrap_field form.confirm_password layout='vertical' size='sm' %}
          </div>

          {% if survey_type == 'DEPT-REGION-SITE' %}

          {{ form.dept_names.errors }}
          <div class="field">
            {% bootstrap_field form.dept_names layout='vertical' size='sm' %}
          </div>

          {{ form.region_names.errors }}
          <div class="field">
            {% bootstrap_field form.region_names layout='vertical' size='sm' %}
          </div>

          {{ form.site_names.errors }}
          <div class="field">
            {% bootstrap_field form.site_names layout='vertical' size='sm' %}
          </div>

         {% endif %}<br>

          <div class="field">
            {% buttons %}
              {% bootstrap_button "Create" button_type="submit" button_class="btn-primary" %}
            {% endbuttons %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
