{% extends "base.html" %}

{% block title %}Team Temperature{% endblock %}

{% block body %}
<h1>Create a Team Temperature Survey</h1>
<form method="post">
  {% csrf_token %}
  {{ form.password.errors }}
  <div class="field">
    <label for="id_password">Survey Password (so that you can see the admin pages if you change browser)</label><br/>
    {{ form.password }}
  </div>
  
  {% if survey_type != 'DEPT-REGION-SITE' %}
    <div style="display: none;">
  {% endif %}


  {{ form.dept_names.errors }}
  <div class="field">
    <label for="dept_names">Department Names</label><br/>
    {{ form.dept_names }}
  </div>

  {{ form.region_names.errors }}
  <div class="field">
      <label for="region_names">Region Names</label><br/>
      {{ form.region_names }}
  </div>

  {{ form.site_names.errors }}
  <div class="field">
      <label for="site_names">Site Names</label><br/>
      {{ form.site_names }}
  </div>
  
  {% if survey_type != 'DEPT-REGION-SITE' %}
    </div>
  {% endif %}
  
  
  <input type="submit" value="Create"/>
</form>
{% endblock %}
