{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Team Temperature{% endblock %}

{% block body %}
<div class="container">
  <div class="row" >
    <div class="col-md-6 col-md-offset-3" align="center">
      <h1>Enter the admin password</h1>
      <p> </p>
      <div class="row" >
      <form method="post">
        <div class="form-group">
          {% csrf_token %}
          {{ form.password.errors }}
          <div class="field">
            <label for="id_score">Admin password:</label>
            {{ form.password }}
          </div>
        </div>
        <div class="form-group">
          {% buttons class="btn btn-primary" submit='Submit' %}{% endbuttons %}
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
