{% extends "base.html" %}

{% block title %}Team Temperature{% endblock %}

{% block body %}

{% if thanks %}
<div class="info box">{{ thanks }}</div>
<BR><BR>
{% endif %}

<div class="info box">
    <a href="{% url 'teamtemp.views.admin' survey_id=survey_settings_id %}">ADMIN</a>
</div>
<BR><BR>

<h1>Team Temperature</h1>
<h2>Survey Settings</h2>
<form method="post">
    {% csrf_token %}
    {% if response_id %}
    <input type="hidden" name="id" value="{{ response_id }}"/>
    {% endif %}
    {{ form.survey_type.errors }}
    <div class="field">
        <label for="id_survey_type">Survey Type:</label><br/>
        {{ form.survey_type }} (TEAMTEMP - Team Temperature Survey or CUSTOMERFEEDBACK - Customer Feedback Survey)
    </div>

    {{ form.archive_schedule.errors }}
    <div class="field">
        <label for="id_archive_schedule">Archive Interval:</label><br/>
        {{ form.archive_schedule }} (Number of days. 0 to disable automated archive.)
    </div>
    {{ form.password.errors }}
    <div class="field">
        <label for="id_password">Change Survey Password:</label><br/>
        {{ form.password }} (Leave blank to retain existing password)
    </div>
    <h3>Team Name Change</h3>
    {% for team in survey_teams %}
        {{ team.pretty_team_name }} <BR>
    {% endfor %}
    <BR>
    {{ form.current_team_name.errors }}
    <div class="field">
        <label for="current_team_name">Current team name:</label><br/>
        {{ form.current_team_name }} (Check for trailing spaces if name change fails)
    </div>
    {{ form.new_team_name.errors }}
    <div class="field">
        <label for="new_team_name">New team name:</label><br/>
        {{ form.new_team_name }} (Blank will delete all team records)
    </div>
    {{ form.censored_word.errors }}
    <div class="field">
        <label for="censored_word">Censor Word:</label><br/>
        {{ form.censored_word }} (ALL occurences will be removed from this survey, ensure correct caps)
    </div>

    <input type="submit" value="Submit"/>
</form>
{% endblock %}
