{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Create Team{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Enter the new team name</h1>
        <form method="post">
          {% csrf_token %}
          <div class="field">
            <div class="row">
              <div class="col-md-6">
                {% bootstrap_field form.team_name layout='vertical' size='sm' %}
              </div>
            </div>
          </div>


          {% if survey.survey_type == 'DEPT-REGION-SITE' %}
          <!-- If survey configured to collect department region and site details -->

          <div class="field">
            <div class="row">
              <div class="col-md-6">
                {% bootstrap_field form.dept_name layout='vertical' size='sm' %}
              </div>
            </div>
          </div>

          <div class="field">
            <div class="row">
              <div class="col-md-6">
                {% bootstrap_field form.region_name layout='vertical' size='sm' %}
              </div>
            </div>
          </div>

          <div class="field">
            <div class="row">
              <div class="col-md-6">
                {% bootstrap_field form.site_name layout='vertical' size='sm' %}
              </div>
            </div>
          </div>
          {% endif %}

          {% buttons %}
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
