{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Team Temperature{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Enter the new team name</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.team_name.errors }}
              <div class="field">
                <div class="row"><div class="col-md-6">
                {% bootstrap_field form.team_name layout='vertical' size='sm' %}
                </div></div>
              </div>


                {% if survey_type != 'DEPT-REGION-SITE' %}
                    <div style="display: none;">
                {% endif %}
                <!-- If survey configured to collect department region and site details -->

                {{ form.dept_name.errors }}
                <div class="field">
                    <div class="row"><div class="col-md-6">
                    {% bootstrap_field form.dept_name layout='vertical' size='sm' %}
                    </div></div>
                </div>

                {{ form.region_name.errors }}
                <div class="field">
                    <div class="row"><div class="col-md-6">
                    {% bootstrap_field form.region_name layout='vertical' size='sm' %}
                    </div></div>
                </div>

                {{ form.site_name.errors }}
                <div class="field">
                    <div class="row"><div class="col-md-6">
                    {% bootstrap_field form.site_name layout='vertical' size='sm' %}
                    </div></div>
                </div>

                {% if survey_type != 'DEPT-REGION-SITE'%}
                    </div><br>
                {% endif %}
                {% buttons class="btn btn-primary" submit='Create' %}{% endbuttons %}
            </form>
            {{ team_name }} {{ dept_name }} {{ region_name }} {{ site_name }}
        </div>
    </div>
</div>
{% endblock %}
