Django==1.10.4
django-bootstrap3==7.1.0
dj-database-url==0.4.1
dj-static==0.0.6
django-csp==3.1
django-secure==1.0.1
django-toolbelt==0.0.1
dj-database-url==0.4.1
dj-static==0.0.6
gunicorn==19.6.0
#https://google-visualization-python.googlecode.com/files/gviz_api_py-1.8.2.tar.gz
http://downloads.sourceforge.net/project/google-visualization-python/gviz_api_py-1.8.2.tar.gz
Pillow==3.4.2
poster==0.8.1
py-bcrypt==0.4
psycopg2==2.6.2
pytz==2016.10
requests==2.12.3
static==1.1.1
Unirest==1.1.7
wsgiref==0.1.2
whitenoise==3.2.2
