Django==1.5.3
Pillow==2.5.0
South==0.8.2
Unirest==1.1.6
dj-database-url==0.2.2
dj-static==0.0.5
django-toolbelt==0.0.1
gunicorn==18.0
https://google-visualization-python.googlecode.com/files/gviz_api_py-1.8.2.tar.gz
poster==0.8.1
psycopg2==2.5.1
py-bcrypt==0.4
pytz==2014.3
requests==2.3.0
static==0.4
wsgiref==0.1.2
