body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.min-max {
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.footer {
  font-size: smaller;
  text-align: center;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  width: 100%;
}

.info {
  background-color: lightblue;
}

.error {
  background-color: orangered;
}

div.help-block {
  color: black;
}

.wordcloud-text {
  font-size: large;
  padding: 50px;
  color: green;
  border: 2px solid grey;
  border-radius: 25px;
  min-height: 400px;
  background-color: #eee;
  word-spacing: 10px;
  line-height: 200%;
  word-break: keep-all;
}

#wordcloud-link::after {
  display: none;
}

.centregauge {
  width: 100%;
  min-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wordcloud {
  display: block;
  margin-left: auto;
  margin-right: auto;
  page-break-after: always;
  page-break-inside: avoid;
  min-height: 400px;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.hidden {
  display: none;
}

.google-visualization-tooltip-item {
  white-space: nowrap;
}

.next_archive_date {
  display: inline-block;
  width: 167px;
  vertical-align: middle;
}
