body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.footer {
  font-size: smaller;
  text-align: center;
}

.box {
  border-color: black;
  border-width: 1;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.info {
  background-color: lightblue;
}

.error {
  background-color: orangered;
}

.wordcloud {
  border: 0px solid #036;
  height: 7in;
  margin: 0.2in auto;
  padding: 0;
  page-break-after: always;
  page-break-inside: avoid;
  width: 8in;
}

.centregauge {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centrewordcloud {
  display: block;
  margin-left: auto;
  margin-right: auto;
  page-break-after: always;
  page-break-inside: avoid;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

button_ {
  background: none !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  color: #0000EE;
  /*border is optional*/
  border-bottom: 1px solid #444;
  cursor: pointer;
}

hidden {
  display: none;
}

.google-visualization-tooltip {

  top: -125px !important;
  left: 200px !important;
  margin: 500px 0 0 0 !important;
  text-align: center !important;
  padding: 2px !important;
  font: 12px sans-serif !important;
  border: 0px !important;
  border-radius: 0px !important;
  pointer-events: none !important;
  box-shadow: none !important;
}
