body { 
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.footer { 
  font-size: smaller;
  text-align: center;
}

.info { 
  background-color: lightblue;
  border-color: black;
  border-width: 1;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
