body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.footer {
  font-size: smaller;
  text-align: center;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}

.info {
  background-color: lightblue;
}

.error {
  background-color: orangered;
}

div.help-block {
  color: black;
}

.wordcloud {
  border: 0 solid #036;
  height: 7in;
  margin: 0.2in auto;
  padding: 0;
  page-break-after: always;
  page-break-inside: avoid;
  width: 8in;
}

.centregauge {
  width: 400px;
  min-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centrewordcloud {
  display: block;
  margin-left: auto;
  margin-right: auto;
  page-break-after: always;
  page-break-inside: avoid;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.hidden {
  display: none;
}

.google-visualization-tooltip-item {
  white-space: nowrap;
}
